body, html {
  margin: 0;
  padding: 0;
  background-color: #47200B;
}

.logo {
  margin-right: auto; /* Ýtir merkinu til vinstri */
}

.logo a {
  text-decoration: none;
  font-size: 1.5rem; /* Breyta stærð eftir þörfum */
  color: white; /* Dæmi um lit */
}

#inputMenu {
  display: none;
}

.labelMenu{
  position: fixed;
  top: .5rem;
  right: .5rem;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 2.2rem;
  height: 2.2rem; 
  font-size: 1.5rem;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: .2rem .4rem;
  background-color: #47200B;
  z-index: 9;
  cursor: pointer;
}

.topmenu {
  position: fixed;
  top: 3rem;
  right: -46rem;
  width: 75%;
  display: flex;
  flex-direction: column;
  background-color: #47200B;
  transition: right .5s ease-out;
  z-index: 8;
}

.topmenu a {
  display: block;
  padding: .5rem 3rem;
  color: white;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #ffffff30; /* Valfrí aðskiljunarlína */
}

#inputMenu:checked ~ .topmenu {
  right: 0;
  display: flex;
}

@media screen and (min-width: 48rem) {
  .menubar {
    display: flex; /* Búin til flex skipulag fyrir merki og tengla */
    align-items: center; /* Vinnur saman með lóðréttum uppröðun tengla og merkis */
    background-color: #47200B;
    padding-left: 1rem;
    margin: 0;
    position: relative;
    width: 100%;
  }

  .logo {
    display: block; /* Tryggir að merki sé sýnilegt á stærri skjám */
  }

  .topmenu {
    position: relative;
    top: 0;
    right: 0;
    width: auto;
    display: flex; /* Lárétt skipulag */
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    height: auto;
    transition: none; /* Hætta við yfirfærslu fyrir skrifborð */
  }

  .topmenu a {
    text-decoration: none;
    color: white;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: none;
  }

  .labelMenu {
    display: none;
  }
}

/* Felur merki á minni skjám */
@media screen and (max-width: 48rem) {
  .logo {
    display: none; /* Felur merki á litlum skjám */
  }
}
