* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shopping {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1px; /* Stillt bilið milli mynda */
    padding: 10px;
}

.shop-image-container a {
    display: block;  /* Lætur hlekkan taka upp allt rýmið */
    text-decoration: none;  /* Fjarlægir undirstrikanir frá hlekkjum */
    color: inherit;  /* Arfleiðir litinn á texta */
}

.shop-image-container {
    text-align: center;
    width: 100%;  /* Minnkað breidd á kassanum */
    margin-bottom: 10px; /* Dregið úr plássi milli mynda */
}

/* Myndastíll */
.shop-image-container img {
    width: 60%;  /* Myndin verður minni */
    height: auto;
    border-radius: 8px;  /* Valfrjálst: Bætir mjúkum hornum við myndina */
}

/* Texti undir mynd */
.shop-image-container p {
    margin-top: 5px;  /* Minnkað pláss milli myndar og texta */
    font-size: 20px;  /* Minni leturstærð */
    color: #333;  /* Textalitur */
    font-family: Arial, sans-serif;  /* Leturfamilía */
}

/* (Desktop) */
@media (min-width: 1025px) {
    .shop-image-container {
        width: calc(33.33% - 10px);  /* 3 myndir á hverri línu, dregið frá smá bili */
    }

    .shop-image-container img {
        width: 50%;
    }
}
